<div ng-controller="PlaylistController" >

    <div class="one_third" >

        <table class="table-striped nb table_condensed">
            <thead>
            <tr>
                <th>
                    <form ng-submit="addPlaylist()" name="addPlaylistForm" ng-required>
                        <input type="text" ng-model="newPlaylist.name" placeholder="playlist name" />
                        <a href="" class="button blue" ng-click="addPlaylist()" style="margin-bottom: 0">add playlist</a>

                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pl in playlists">
                <td>
                    <a href="" class="playlist-action" ng-click="deletePlaylist(pl)"><i class="icon-remove-sign"></i></a>
                    <a href="" ng-click="openPlaylist(pl)">
                        {{ pl.name }}
                    </a>
                </td>
                <td>
                    <a href="" class="playlist-action" ng-click="queuePlaylist(pl)"><i class="icon-headphones"></i></a>

                </td>
            </tr>
            </tbody>
        </table>



    </div>
    <div class="one_third">
        <table class="table-striped nb table_condensed" >
            <thead>
            <tr>
                <th ng-show="currentPlaylist">
                    <strong>{{ currentPlaylist.name }}</strong>
                    content
                    <a href="" class="playlist-action" ng-click="queuePlaylist(currentPlaylist)"><i class="icon-headphones"></i></a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in currentPlaylist.songs">
                <td>
                    <a href="" ng-click="queueFile(s)"><i class="icon-forward"></i></a>
                    {{ s | songlabel }}
                </td>
                <td>
                    <a href="" class="playlist-action" ng-click="removeFromPlaylist(s)"><i class="icon-remove-sign"></i></a>


                </td>
            </tr>
            </tbody>
        </table>

    </div>



</div>