<!doctype html>
<html lang="en">
<body>

<div class="one_third last">
    <h3>listen</h3>
    <table class="table-striped nb">
        <thead>
        <tr>
            <th>
                playlist
                <a href="" ng-click="clearPlaylist()"><i class="icon-stop"></i></a>
                <a href="" ng-click="shufflePlaylist()"><i class="icon-random"></i></a>
                <a href="" ng-click="skipFirst()"><i class="icon-forward"></i></a>
                <a href="" style="font-size: smaller" ng-click="loadRandomPlayList()"> load random <i class="icon-headphones"></i></a>
                <a href="" ng-click="loadStarred()"><i class="icon-star"></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in playlist">
            <td>
                <a href="" ng-click="dequeueFile($index)"><i class="icon-minus-sign"></i></a>
                <a href="" ng-click="moveToTop($index)"><i class="icon-arrow-up"></i></a>
                {{f | songlabel}}
                <stars-display stars="f.stars"></stars-display>
                <span class="notification blue">{{f.duration | songduration}}</span>
                <span class="notification magenta" ng-show="f.playStats > 0">{{f.playStats}}</span>

            </td>
        </tr>
        </tbody>


    </table>

</div>


</body>
</html>
