<!doctype html>
<html lang="en">
<body >

<div ng-controller="PlaylistController">

    <div class="two_third" ng-show="viewState.playlistMode">
        <h3>
            <a href="" ng-click="viewState.change('browse')">browse</a>
            |
            <a href="" ng-click="viewState.change('search')">search</a>
            |
            playlists
        </h3>

        <table class="table-striped nb table_condensed">
            <thead>
            <tr>
                <th>
                    <form ng-submit="addPlaylist()" name="addPlaylistForm" ng-required>
                        <label for="inpplaylistname">
                            Name :
                        </label>
                        <input type="text" ng-model="newPlaylist.name" placeholder="playlist name" id="inpplaylistname"/>
                        <a href="" class="button blue" ng-click="addPlaylist()" style="margin-bottom: 0">add playlist</a>

                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pl in playlists">
                <td>
                    <a href="" class="playlist-action" ng-click="deletePlaylist(pl)"><i class="icon-remove-sign"></i></a>
                    {{ pl.name }}
                </td>
                <td>
                    <a href="" class="playlist-action" ng-click="queuePlaylist(pl)"><i class="icon-headphones"></i></a>

                </td>
            </tr>
            </tbody>
        </table>



    </div>



</div>

</body>
</html>
