<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="lct">
    <meta name="description" content="Musikjunker">
    <link rel="shortcut icon" id="favicon" href="lib/workless/img/favicon.png">

    <!-- Mobile Viewport -->
    <meta name="viewport" content="width=device-width">

    <title>Musikjunker</title>
    <link rel="stylesheet" href="css/musikjunker.css"/>
    <link rel="stylesheet" href="lib/workless/workless-global.css"/>
</head>
<body class="blueish" id="top" ng-app="musikjunker" ng-controller="MainController">

<section class="boxed">

    <!-- main -->
    <section id="main">

        <!-- logo -->
        <div id="logo">
            <img src="lib/workless/img/logo.png" alt="Workless"/>
            <small> musikjunker</small>
        </div>
        <!-- /logo -->

        <!-- /nav -->
        <hr/>

        <header class="bg_shadow" style="min-height: 150px">
            <div class="one_third coverbox" ng-cloak>
                <table class="nb">
                    <tr>
                        <td class="nb">
                            <a href="{{currentCover | coverurl}}" target="_blank">
                                <img ng-src="{{currentCover | coverurl}}" alt="cover"
                                     height="150"/>
                            </a>

                        </td>
                        <td class="nb">
                            <a href="" class="button small" ng-repeat="c in covers" ng-click="setCurrentCover(c)">
                                {{c.fileName}}
                            </a>
                        </td>
                    </tr>
                </table>
                &nbsp;
            </div>
            <div class="two_third last" ng-cloak>

                <div class="bread ng-cloak" ng-show="currentlyPlaying != null" >
                    {{currentlyPlaying.metadata.artist}}
                    <span class="sep">&gt;</span>
                    {{currentlyPlaying.metadata.album}}
                    <span class="sep">&gt;</span>
                    {{currentlyPlaying.metadata.title}}
                    (
                    {{currentlyPlaying.metadata.year}}
                    )
                </div>

                <junker-audio playlist="playqueue" on-song-change="doOnPlayChange($song)"></junker-audio>
                <stars id="currentlyPlaying.id" stars="currentlyPlaying.stars"></stars>


                <div class="moreinfos-box">
                    <a href="" ng-click="loadWikiInfos()" ng-show="currentlyPlaying != null" class="button green">more infos</a>
                    <a href="" ng-click="loadSimilar()" ng-show="currentlyPlaying != null" class="button green">more tracks like this</a>
                    <a href="" ng-click="togglePlaylistWorkflow()" ng-show="currentlyPlaying != null" class="button green">add to list</a>
                </div>

                <div ng-show="addToPlaylistWorkflow" class="playlist-add-list">
                    <span class="label" ng-repeat="pl in playlists" ng-class="getLabelColorClass(pl)">
                        <a href="" ng-click="addCurrentToPlaylist(pl)">
                            {{ pl.name }}
                        </a>

                    </span>

                </div>


            </div>
            <br/>
            <br/>

        </header>
        <div class="clearfix"></div>
        <div class="moreinfos-content" ng-show="wikiInfo != null">
            <div ng-bind-html="wikiInfo"></div>
        </div>

        <div class="moretracks-content" ng-show="similarTracks != null || noTracksFound" ng-controller="MoreTracksLikeThisController">
            <span class="notracks" ng-show="noTracksFound"><i class="icon icon-hearing-impaired"></i> No tracks found</span>
            <div class="moretrack" ng-repeat="tr in similarTracks">
                <a target="_blank" href="{{tr.url}}">
                    <img class="cover" ng-src="{{getImageOfTrack(tr)}}"/>
                </a>
                <p class="artist">
                    <a target="_blank" href="{{tr.url}}"><img src="img/lastfm.png"></a>
                    {{ tr.artist.name }}
                </p>
                <p class="track">
                    {{ tr.name }}
                </p>
                <p>
                    <a href="" ng-click="searchSimilar(tr)"><i class="icon icon-cloud"></i> search similar</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>

        <hr id="workZoneTopSeparator"/>

        <h3 class="main-zone-selector">
            <a href="" ng-click="viewState.change('browse')" ng-class="{'active': viewState.browseMode}">browse</a>
            |
            <a href="" ng-click="viewState.change('search')" ng-class="{'active': viewState.searchMode}">search</a>
            |
            <a href="" ng-click="viewState.change('playlist')" ng-class="{'active': viewState.playlistMode}">playlists</a>
        </h3>


        <ng-include src="'partials/browse.html'" ng-if="viewState.browseMode"></ng-include>
        <ng-include src="'partials/search.html'" ng-if="viewState.searchMode"></ng-include>
        <ng-include src="'partials/playlist.html'" ng-if="viewState.playlistMode"></ng-include>

        <ng-include src="'partials/listen.html'"></ng-include>

        <div style="height: 400px">

        </div>
        <hr/>

        <footer class="one_full">
            <p class="small muted">tekila.</p>
        </footer>


    </section>
</section>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
-->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-cookies.min.js"></script>

<script src="js/lib.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
