#input_filter {
    margin: 0;
}

.table_toolbar {
    width: 34px;
}
.table_condensed td {
    padding: 5px 3px;
}
.table_condensed th {
    padding: 5px;
}

.playbox {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.coverbox a.button {
    margin-bottom: 4px;
}

.lien_album {
    font-size: small;
}

.bread {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.bread .sep {
    color: #2daebf;
    font-weight: bold;
}

.hl {
    color: blue;
    font-weight: bold;
}

.pag_foot_prev {
    text-align: left;

}

.pag_foot_next {
    text-align: right;
}

.sortable_header a {
    font-weight: bolder;
}

#tagCloudCanvas {
    width: 100%;
    height: 400px;
}

.star-selector {
    padding-top: 10px;
    cursor: pointer;
}
.star-selector:hover {
    background-color: #F7EDD4;
    border: 3px solid #FFE1B6;
    border-radius: 4px;
    padding-right: 4px;
}
.star-selector .hover-label {
    visibility: hidden;
    font-size: 1.4em;
    padding-left: 10px;
    font-weight: bold;
    color: #ffbf45;
}
.star-selector:hover .hover-label {
    visibility: visible;
}

.star-selector .reset-star {
    font-size: 0.8em;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.star {
    background: url('../img/star-off-big.png');
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: hand;

}
.star.starred {
    background: url('../img/star-on-big.png')
}


.star-small {
    background: url('../img/star-on.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: hand;
}

.moreinfos-box {
    margin-left: 20px;
}
.moreinfos-content {
    border: 1px solid gray;
    padding: 5px;
    background-color: #f0f0f0;
}
.moreinfos-content .error {
    font-weight: bold;
    color: #900000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}